.p-ga {
  padding: 250px;
  /* display: flex; */
  position: relative;
  top: 1%;
  left: 28%;
  margin-top: -150px;
  margin-left: -100px;
  /* justify-content: center; */
  /* text-align: center; */
}

.example-form {
  min-width: 100px;
  max-width: 400px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.button-ga {
  margin-top: 5px;
  background: #d1e0e0;
  margin-left: 325px;
}

@media screen and (max-width: 2000px) {
  .p-ga {
  }
}

.text-ga {
  text-align: center !important;
}

.a-ga {
  margin-left: 130px;
}
